.grid {
    display: grid;
    row-gap: 10px;
    height: 100%;
    overflow: auto;
    max-height: 100%;
    column-gap: 10px;
    grid-template-columns: minmax(0, 1fr) 100px minmax(0, 1fr);
}

.col {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parentdiff > div:first-child {
    background-color: #F6D283;
}

.different {
    --background-color-custom: #F6D283;
    /* background-color: #F6D283 !important; */
}

.missing {
    --background-color-custom: #ED8373;
    /* background-color: #ED8373 !important; */
}

.extra {
    --background-color-custom: #C5DA8B;
    /* background-color: #C5DA8B !important; */
}

.different>div>div,
.missing>div>div,
.extra>div>div {
    background-color: var(--background-color-custom) !important;
}

.different div,
.missing div,
.extra div {
    color: #292D1C !important;
    --jse-selection-background-inactive-color: var(--background-color-custom) !important;
}