.grid {
    display: grid;
    row-gap: 10px;
    height: 100%;
    overflow: auto;
    max-height: 100%;
    column-gap: 10px;
    grid-template-columns: minmax(0, 1fr) 100px minmax(0, 1fr);
}

.col {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.different > div:first-child {
    --jse-contents-background-color: #f6d283;
}

.extra  > div:first-child {
    --jse-contents-background-color: #c5da8b;
}

.missing  > div:first-child {
    --jse-contents-background-color: #f69283;
}

.different > div:first-child,
.extra,
.missing {
    color: #292D1C !important;
    --jse-key-color: #292D1C !important;
    background-color: var(--background-color-custom) !important;
    --jse-selection-background-inactive-color: var(--background-color-custom) !important;
    --jse-value-color-string: #292D1C;
    --jse-delimiter-color: #292D1C;
}